.user__container {
  padding: 20px 24px;
  width: 100%;
  height: 100%;
  min-width: 750px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}
.userInfo {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.userManagedMenu {
  display: flex;
  justify-content: space-between;
}
.userMenu {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.userMenu__select,
.userMenu > button {
  margin-left: 10px;
  margin-right: 35px;
}
.userMenu__select {
  width: 20px;
  color: #095544;
}

.userMenu > button {
  background-color: white;
  border: none;
  font-size: 16px;
  color: #095544;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  width: 200px;
}
.search__prefix {
  margin: 0 10px;
}
.search__prefix * {
  color: #b5b5bb;
}
.search > input {
  border: none;
  outline: none;
  width: 80%;
}

input[type="checkbox"] {
  margin-top: 0px;
  margin-right: 0px;
}

.userTable {
  margin-top: 20px;
}

.userTable__header {
  display: flex;
  background-color: #dcedd4;
  padding: 10px 0px;
  text-align: center;
}

.userTable__header > div {
  border-left: 1px solid #7d7d7d40;
}

.userTable__body > div > div:not(:first-child) {
  text-align: start;
  padding-left: 30px;
  border-left: 1px solid #7d7d7d40;
}

.selector {
  width: 10%;
}
.name {
  width: 20%;
}
.userId {
  width: 25%;
}
.deptTask {
  width: 25%;
}
.job {
  width: 20%;
}

.body__userInfo {
  display: flex;
  padding: 10px 0px;
  text-align: center;
  border-bottom: 1px solid #7d7d7d40;
}

.body__userInfo:hover {
  background-color: #f3f7f1;
}

.listZero {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: #b5b5bb;
}

.userMenuSmallBtn {
  display: none;
}
@media (max-width: 935px) {
  .userTable__header > div:not(:first-child) {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .userTable__body > div > div:not(:first-child) {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .deleteBtn,
  .jobModifyBtn,
  .deptTaskModifyBtn {
    display: none;
  }
  .userMenu > button {
    margin: 0;
  }
  .userMenuSmallBtn {
    display: block;
    width: 25px;
  }
  .userMenuSmallBtn * {
    color: #095544;
  }
}
