.org__mother__div {
    padding: 20px;
    overflow-x:auto;
}

.org__title {
    margin-bottom: 20px;
}

.org__title__text {
    font-size: 20px;
    font-weight: 700;
}

.org__detail{
    margin-left:20px;
}

.org__table {
    min-width: 700px;
    margin-top: 20px;
}

.org__level {
    margin-top: 20px;
    margin-bottom: 20px;
}

.org__sort{
    text-align: center; /* 가로 방향 가운데 정렬 */
    vertical-align: middle; /* 세로 방향 가운데 정렬 */
}

.org__button{
    background-color: #DCEDD4;
    width : 120px;
    height : 40px;
    border-radius: 10px;
    font-weight: 700;
    cursor:pointer;
}

.tree__div {
    padding: 20px;
}

.tree {
    position: relative;
}

.tree__branch {
    position: relative;
    margin-left: 250px;
}

.tree__branch::before {
    content: "";
    width: 50px;
    border-top: 2px solid black;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: 1px;
}

.tree__entry {
    position: relative;
    min-height: 60px;
}

.tree__entry::before {
    content: "";
    height: 100%;
    border-left: 2px solid black;
    position: absolute;
    left: -50px;
}

.tree__entry::after {
    content: "";
    width: 50px;
    border-top: 2px solid black;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
}

.tree__entry--first::before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0;
}

.tree__entry--first::after {
    height: 10px;
    border-radius: 10px 0 0 0;
}

.tree__entry--last::before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
}

.tree__entry--last::after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid black;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
}

.tree__entry__sole::before {
    display: none;
}

.tree__entry__sole::after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
}

/* 테이블의 기본 스타일 */
.office__admin__table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/* 테이블 헤더 스타일 */
.office__admin__table thead th {
    background-color: #DCEDD4;
    padding: 10px 0;
    border-bottom: 1px solid #6c6c7250;
}

/* 테이블 본문 스타일 */
.office__admin__table tbody td {
    padding: 10px 0;
    border-bottom: 1px solid #6c6c7250;
}

/* 테이블의 세로줄 제거 */
.office__admin__table th, .office__admin__table td {
    border-right: none;
    border-left: none;
}

/* 테이블 행 마우스 오버 시 배경색 변경 */
.office__admin__table tbody tr:hover {
    background-color: #f5f5f5;
}


