.org__mother__div {
    padding: 20px;
}

.org__title {
    margin-bottom: 20px;
}

.org__title__text {
    font-size: 20px;
    font-weight: 700;
}

.org__table {
    min-width: 700px;
    margin-top: 20px;
}

.org__level {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tree__div {
    padding: 20px;
}

.tree {
    position: relative;
}

.tree__branch {
    position: relative;
    margin-left: 250px;
}

.tree__branch::before {
    content: "";
    width: 50px;
    border-top: 2px solid black;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: 1px;
}

.tree__entry {
    position: relative;
    min-height: 60px;
}

.tree__entry::before {
    content: "";
    height: 100%;
    border-left: 2px solid black;
    position: absolute;
    left: -50px;
}

.tree__entry::after {
    content: "";
    width: 50px;
    border-top: 2px solid black;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
}

.tree__entry--first::before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0;
}

.tree__entry--first::after {
    height: 10px;
    border-radius: 10px 0 0 0;
}

.tree__entry--last::before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
}

.tree__entry--last::after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid black;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
}

.tree__entry__sole::before {
    display: none;
}

.tree__entry__sole::after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
}


.tree__label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    line-height: 20px;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.tree__label:hover{
    background-color: #DCEDD4;
}

.tree__label__element {
    /* 이 클래스에 대한 스타일 규칙이 없으므로 필요한 스타일을 추가하거나 이를 제거할 수 있습니다 */
}

.tree__label__info {
    margin-left: 6px;
    margin-right: 6px;
}