.position__container {
    margin: 20px;
}

.position__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.position__hr {
    margin-bottom: 20px;
}

.position__div{

}

.position__leftdiv{

}

.postion__rightdiv{
    
}

.position__table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

.position__row {
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.position__plus{
    color:white;
}

.position__cell {
    padding: 10px 15px;
    text-align: left;
}

.position__addButton {
    background-color: #dcedd4;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 10px;
}

.position__addButton:hover {
    background-color: #095544;
}