/* 필요한 스타일만 포함 */

.tree__label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    line-height: 20px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    transition-duration: 0.3s;
    cursor:default;
    z-index: 3;
    background-color: white;
}

.tree__label:hover{
    background-color: #DCEDD4;
}


.tree__label__info {
    width: 20px;
    cursor: pointer;
}

.contextMenu{
    background-color: white;
    border: 1px soild black;
    border-radius: 4px;
}




