.container__body {
  display: flex;
}
.body__main {
  width: calc(100% - 250px);
  height: calc(100vh - 60px);
  overflow: auto;
}
.body__main::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.body__main::-webkit-scrollbar-thumb {
  background-color: #7d7d7d60;
  border-radius: 10px;
  border: 7px solid transparent; /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}
.body__main::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 뒷 배경을 투명 처리한다 */
}
