.office__admin__div{
    margin:20px;
    border: 1px solid #6c6c7250;
    border-radius: 4px;
}

.office__admin__title{
    font-size: 20px;
    font-weight : 700;
}

.office__admin__updiv{
    padding:20px;
}

.office__admin__downdiv{
    overflow-y: hidden;
    border: 1px solid #6c6c7250;
    
}

.office__admin__nav{
    float:left;
    width:16%;
    height:100%;
}

.office__admin__nav__div{
    display:flex;
    justify-content: center;
    align-items: center;
    height:45px;
}

.office__admin__nav__div__selected{
    display:flex;
    justify-content: center;
    align-items: center;
    height:45px;
    background-color: #DCEDD4;
}


.office__admin__nav__div:hover{
    cursor: pointer;
}

.office__admin__maindiv{
    max-height: 190px;
    float:right;
    width:84%;
    overflow-y: auto;
}

.office__admin__maindiv::-webkit-scrollbar{
    width: 20px;
}

.office__admin__maindiv::-webkit-scrollbar-thumb{
    background-color: #7d7d7d20;
	border-radius: 10px;

	border: 7px solid #FFFFFF
}

.office__admin__maindiv::-webkit-scrollbar-track{
    background-color: #FFFFFF
}

/* 테이블의 기본 스타일 */
.office__admin__table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

/* 테이블 헤더 스타일 */
.office__admin__table thead th {
    background-color: #DCEDD4;
    padding: 10px 0;
    border-bottom: 1px solid #6c6c7250;
}

/* 테이블 본문 스타일 */
.office__admin__table tbody td {
    padding: 10px 0;
    border-bottom: 1px solid #6c6c7250;
}

/* 테이블의 세로줄 제거 */
.office__admin__table th, .office__admin__table td {
    border:none;
    width: 15%;
    text-align: center;
    padding: 10px 0;
}

.office__admin__table th{
    border-bottom: none;
}

.office__admin__table th:last-child,
.office__admin__table td:last-child {
    width: 25%;
}

/* 테이블 행 마우스 오버 시 배경색 변경 */
.office__admin__table tbody tr:hover {
    background-color: #f5f5f5;
}

.office__adminmanage__button{
    width:80px;
    height:30px;
    margin-top:5px;
    margin-left:215px;
    background-color: #FFFFFF00;
    border: 1px solid #7D7D7260;
    border-radius: 4px;
    color: #6c6c72;;
}

.office__adminmanage__button:hover{
    background-color: #7D7D7260;
    color: white;
    border : none;
    transition-duration: 0.25s;
    cursor: pointer;
}
